body {
    background-image: url("backgrd.jpg");
    background-position: fixed;
}

table {
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
    width: 250px;
    height: 200px;
    background-color: tomato;
}

#aplayer {
    margin: 5px;
    border: 1px solid darkgray;
    border-radius: 6px;
    background-color: darkgoldenrod;
    padding: 3px;
    display: flex;
    width: 300px;
    height: 75px;
}

#bplayer {
    margin: 5px;
    border: 1px solid darkgray;
    border-radius: 6px;
    background-color: darkgoldenrod;
    padding: 3px;
    display: flex;
    width: 300px;
    height: 75px;
}

th {
    border-radius: 12px;
    margin: 0px;
    padding: 0px;
    font-size: 1.6em;
    border: 1px solid black;
    background-color: grey;
    width: 100px;
    color: gold;
}

td {
    border-radius: 12px;
    margin: 0px;
    padding: 0px;
    font-size: 2em;
    border: 1px solid black;
    width: 60px;
    background-color: whitesmoke;
}

#zone1 {
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

#zone2 {
    position: absolute;
    top: 0%;
    left: 73%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

#imagedroite {
    position: relative;
    height: 225px;
    width: 180px;
    align-self: center;
}

#imagegauche {
    position: relative;
    align-self: center;
    height: 255px;
    width: 220px;
}

div {
    margin: 0;
}

p {
    color: black;
    font-size: 2.4em;
    text-shadow: 2px 1px 1.6px orange;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    align-self: center;
}

button {
    width: 95px;
    height: 70px;
    font-size: 1.16em;
    background-color: royalblue;
    color: #DB2727;
    border-radius: 7px;
    margin: 2px;
}

button:hover {
    background-color: yellowgreen;
    color: purple;
}


/*modifier le hover pour que le bouton soit indisponible pendant le disabled

/*
@keyframes toYellow {
    to {
        color: yellow;
    }
}

@keyframes toRed {
    to {
        color: red;
    }
}

.yellow {
    animation-name: toYellow;
}

.red {
    animation-name: toRed;
}

#table1>tr:nth-child(1)>td {
    color: green;
}

#table2>tr:nth-child(1)>td {
    color: green;
}
*/

@keyframes deplacement {
    0% {
        left: 0%;
    }
    50% {
        left: 290%;
    }
    100% {
        left: 0%;
    }
}

.deplacement {
    animation-name: '';
    animation-duration: 2s;
}

@keyframes deplacement2 {
    0% {
        left: 0%;
    }
    50% {
        left: -290%;
    }
    100% {
        left: 0%;
    }
}

.deplacement2 {
    animation-name: '';
    animation-duration: 2s;
}

@keyframes taille1 {
    0% {
        height: 255px;
        width: 220px;
    }
    50% {
        height: 300px;
        width: 260px;
    }
    100% {
        height: 255px;
        width: 220px;
    }
}

.taille1 {
    animation-name: '';
    animation-duration: 2s;
}

@keyframes taille2 {
    0% {
        height: 225px;
        width: 180px;
    }
    50% {
        height: 280px;
        width: 210px;
    }
    100% {
        height: 225px;
        width: 180px;
    }
}

.taille2 {
    animation-name: '';
    animation-duration: 2s;
}

#popodroite {
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 75%;
    width: 150px;
    height: 150px;
}

#popogauche {
    opacity: 0;
    position: absolute;
    top: 45%;
    left: -25%;
    width: 150px;
    height: 150px;
}

@keyframes apparition1 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.apparition1 {
    animation-name: '';
    animation-duration: 2s;
}

@keyframes apparition2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.apparition2 {
    animation-name: '';
    animation-duration: 2s;
}

#texto1 {
    opacity: 0;
    border: 3px double grey;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    top: 35%;
    left: 60%;
}

#texto2 {
    opacity: 0;
    position: absolute;
    top: 35%;
    left: -45%;
    border: 3px double grey;
    background-color: white;
    border-radius: 6px;
}

#rando {
    color: red
}

@keyframes deplatext2 {
    0% {
        left: -45%;
    }
    50% {
        left: -290%;
    }
    100% {
        left: -45%;
    }
}

.deplatext2 {
    animation-name: '';
    animation-duration: 2s;
}

@keyframes deplatext1 {
    0% {
        left: 60%;
    }
    50% {
        left: 290%;
    }
    100% {
        left: 60%;
    }
}

.deplatext1 {
    animation-name: '';
    animation-duration: 2s;
}

@keyframes apparitext1 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.apparitext1 {
    animation-name: '';
    animation-duration: 1s;
}

@keyframes apparitext2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.apparitext2 {
    animation-name: '';
    animation-duration: 1s;
}